@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary : #999999;
  --ternary : #666666
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.cus_container {
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}
/* 
secondary color 
*/

.text-secondary {
  color: var(--secondary);
}
.bg-secondary {
  background-color: var(--secondary);
}
.border-secondary {
  border-color: var(--secondary);
}

/* ternary color  */

.text-ternary {
  color: var(--ternary);
}
.bg-ternary {
  background-color: var(--ternary);
}
.border-ternary {
  border-color: var(--ternary);
}
.main_title {
  font-size: 35px;
  line-height: 45px;
}

@media screen and (max-width:768px) {
  .cus_container {
  padding-left: 15px;
  padding-right: 15px;
}
.main_title {
  font-size: 30px;
  line-height: 40px;
}
}